<html>
  <head>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static "admin/css/materialize.min.css" %}"  media="screen,projection"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "admin/js/materialize.min.js" %}"></script>
  </head>
<body>
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.tooltipped');
      var instances = M.Tooltip.init(elems);
    });

    $(document).ready(function(){
      $('.tabs').tabs();
    });
  </script>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Hacker News</a>
    </div>
  </nav>
  <div class="container">
    {% for post, evenpost in allPosts %}
    <div class="row">
      <div class="col s1"></div>
      <div class="card col s4">
        <div class="card-content">
          {% if post.is_read == False %}
            <span class="new badge red"></span>
          {% endif %}
          <a href='post/{{post.id}}/'><i class="fa fa-eye" aria-hidden="true"></i></a>
          <a href='post/{{post.id}}/delete/'><i class="fa fa-trash" aria-hidden="true"></i></a>
          <hr/>
          <p class="center-align">{{ post.subject }}</p>
        </div>
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#test{{ post.id }}-4"> Post Age </a></li>
            <li class="tab"><a class="active" href="#test{{ post.id }}-5"> Votes </a></li>
            <li class="tab"><a href="#test{{ post.id }}-6"> Comments </a></li>
          </ul>
        </div>
        <div class="card-content grey lighten-4">
          <div id="test{{ post.id }}-4" class='center-align'> {{ post.post_age }} </div>
          <div id="test{{ post.id }}-5" class='center-align'> {{ post.upvotes }} </div>
          <div id="test{{ post.id }}-6" class='center-align'> {{ post.comments }} </div>
        </div>
      </div>
      <div class="col s2"></div>
      <div class="card col s4">
        <div class="card-content">
          {% if evenpost.is_read == False %}
            <span class="new badge red"></span>
          {% endif %}
          <a href='post/{{evenpost.id}}/'><i class="fa fa-eye" aria-hidden="true"></i></a>
          <a href='post/{{evenpost.id}}/delete/'><i class="fa fa-trash" aria-hidden="true"></i></a>
          <hr/>
          <p class="center-align">{{ evenpost.subject }}</p>
        </div>
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#test{{ evenpost.id }}-4"> Post Age </a></li>
            <li class="tab"><a class="active" href="#test{{ evenpost.id }}-5"> Votes </a></li>
            <li class="tab"><a href="#test{{ evenpost.id }}-6"> Comments </a></li>
          </ul>
        </div>
        <div class="card-content grey lighten-4">
          <div id="test{{ evenpost.id }}-4" class='center-align'> {{ evenpost.post_age }} </div>
          <div id="test{{ evenpost.id }}-5" class='center-align'> {{ evenpost.upvotes }} </div>
          <div id="test{{ evenpost.id }}-6" class='center-align'> {{ evenpost.comments }} </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</body>
</html>
