<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static "admin/css/materialize.min.css" %}"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "admin/js/materialize.min.js" %}"></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Hacker News</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Dashboard</a></li>

          {% if post_id > 1 %}
          <li><a href="/post/{{post_id|add:"-1"}}">Previous</a></li>
          {% endif %}

          {% if post_id < max_id %}
          <li><a href="/post/{{post_id|add:"1"}}">Next</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <h3> Sorry, the post you're looking for is no longer available! </h3>
  </body>
</html>
